* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}



.contatore {
  display: flex;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;

}



#counter {
  font-size: 70px;
  margin: 50px 0;
  color: black;
}

button {
  font-size: 20px;
  padding: 15px 30px;
  margin: 13px;
  color: black;

}
